/* Stats Section - Exact Figma specs */

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.sectionWhite {
  background-color: #FFFFFF;
}

.sectionGrey {
  background-color: #F7F7F7;
}

.sectionDark {
  background-color: #042A47;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: center;
  width: 100%;
  max-width: 1216px;
}

.headerWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.headerWrapperLeft {
  justify-content: flex-start;
}

.headerWrapperCenter {
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  text-align: left;
  max-width: 800px;
  min-width: 0;
  width: 800px;
}

.headerCenter {
  align-items: center;
  text-align: center;
}

.headline {
  font-family: 'Venn', sans-serif;
  font-weight: 700;
  line-height: 48px;
  font-size: 40px;
  color: #161616;
  width: 100%;
}

.headlineDark {
  color: #FFFFFF;
}

.subtext {
  font-family: 'Venn', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #464646;
  width: 100%;
}

.subtextDark {
  color: #EFEFEF;
  opacity: 0.72;
}

.stats {
  display: flex;
  gap: 32px;
  align-items: stretch;
  width: 100%;
}

.statsDark {
  color: #FFFFFF;
}

.statItemDark {
  color: #FFFFFF;
}
